<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xsi:schemaLocation="
                http://www.springframework.org/schema/security 
                https://www.springframework.org/schema/security/spring-security.xsd
                http://www.springframework.org/schema/beans 
                https://www.springframework.org/schema/beans/spring-beans.xsd">
    
    <http>
        <intercept-url pattern="/loginCompany" access="permitAll"/>
        <logout logout-url="/logout" logout-success-url="/loginCompany"/>
    </http>

</beans:beans>
